body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background: url('./—Pngtree—book\ learning\ stationery\ combination\ map_5506167.png');
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form{
    background: rgba(0,0,0,0.8);
    padding: 30px;
    color: white;
    border-radius: 10px;
    box-shadow: 0 15px 10px rgba(0,0,0,0.5);
}

.profile-img{
    width: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    border-radius: 50%;
}

form h3{
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
}

form label{
    display: block;
}

form input[type="text"], input[type="password"]{
    width: 250px;
    border: none;
    background: none;
    border-bottom: 2px solid white;
    outline: none;
    padding: 8px;
    color: white;
    font-size: 15px;
}

form input[type="button"]{
    display: block;
    margin-top: 20px;
    padding: 10px 30px;
    width: 100%;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}
form input[type="button"]:hover{
    background-color: rgb(130,189,212);
    color: #ffffff;
}

.password-reset{
    text-align: right;
    
}

.password-reset a{
    color: #ffffff;
}

.social-login{
    text-align: center;
}

.social-login p{
    padding: 20px;
}

.facebook{
    border-radius: 50%;
    background-color: rgb(89, 171, 226);
    padding: 10px;
    color: #ffffff;
}

.git{
    border-radius: 50%;
    background-color: rgb(84, 85, 86);
    padding: 10px;
    color: #ffffff;
}

.google{
    border-radius: 50%;
    background-color: rgb(248, 85, 85);
    padding: 10px;
    color: #ffffff;
}